*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
}

/* Home section Mobile */
header {
    background-image: url(../images/bigdaddyd.jpg);
    background-color: #000000;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
    /* NAV MOBILE */
#mobile-nav {
    z-index: 2;
    position: fixed;
    right: 0;
    width: 100%;
}
#hamburger {
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
#hamburger:hover {
    background-color: #00262D
}
#collapsibleNavbar {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.904);
}
#mobile-nav .nav-item {
    /* background-color: aqua; */
    padding: 2%;
}
#mobile-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

/*HIDING NAVS FOR TABLET AND LARGE*/
#tabletnav {
    display: none;
}
#verticalnav{
    display: none;
}

/* HOME SECTION CONTENT */
#name-container {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 15%;
    width: 100%;
}
#name-container .myName{
    font-size: 250%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
.proffession {
    font-size: 1.1em;
}
#home-button-container {
    /* background-color: aquamarine; */
    position: absolute;
    bottom:  13%;
    /* position: static; */
    width: 100%;
}
#home-button-container button {
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
    transition: .5s;
}

#home-button-container button:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.home-arrow-container {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
.home-arrow-container a {
    font-size: 2rem;
    color: #fff;
}
.home-arrow-container a:hover {
    font-size: 2.2rem;
    color: black;
}


/* HOME SECTION TABLETS */
@media screen and (min-width: 750px){
    #mobile-nav {
    display: none;
    }
    #tabletnav {
        display: block;
        /* background-image: url(/images/bigdaddyd.jpg); */
        background-color: #000000;
        background-size: cover;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 2;
        border-bottom: 1px solid gray;
    }
    #tabletnav ul {
        /* background-color: blueviolet; */
        padding-left: 0px;
        padding-top: 20px;
    }
    #tabletnav ul li {
        /* background-color: antiquewhite; */
        list-style-type: none;
        display: inline-block;  
        width: 12%;

    }
    #tabletnav ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.1rem;
    }
    #tabletnav ul li a:hover {
        color: gray;
    }
}

/* HOME SECTION MEDIUM */

@media screen and (min-width: 1000px){
    header {
        background-image: none;
        height: 100vh;
        margin: 0;
        background-color: #000000;
        margin-right: 0px;
        text-align: center;
    }
    #mobile-nav {
        display: none;
    }
    #tabletnav {
        display: none;
    }
    /* Vertical Nav */
    #verticalnav{
        display: inline-block;
        height: 100%;
        width: 20%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        margin-right: 0px;
        border-right: 1px solid rgb(255, 255, 255);
        padding-top: 10px;
    }
    #avatar-container {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        width: 95%;
        margin-bottom: 40px;
    }
    #avatar-container img {
        width: 100%;
        border: 3px solid white;
        max-width: 240px;
    }

    #verticalnav ul {
        /* background-color: aquamarine; */
        padding-left: 0px;
        margin-bottom: 40px;
    }
    #verticalnav ul li {
        background-color: #000000;
        list-style-type: none;
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }
    #verticalnav ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.1rem;
    }
    #verticalnav ul li a:hover {
        color: rgb(165, 161, 161);
    }

    .icons-container {
        background-color: #000000;
    }

    .icons-container a {
        color: #fff;
        font-size: 2.2em;
        margin: 0 15px;
    }

    .icons-container a:hover {
        color: gray;
    }

    /* HOME RIGHT SECTION LARGE SCREEN */
    #content-section {
        background-image: url(../images/bigdaddyd.jpg);
        background-size: cover;
        background-position:  center;
        display: inline-block;
        width: 80%;
        height: 100%;
        margin-left: 20%;
        margin-right: 0px;
    }
    #name-container {
        /* background-color: aqua; */
        text-align: center;
        color: rgb(255, 255, 255);
        position: relative;
        top: 15%;
        /* position: fixed; */
        width: 100%;
    }
    #name-container h1{
        font-size: 250%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 300;
    }
    #home-button-container {
        /* background-color: aquamarine; */
        position: relative;
        top: 60%;
        width: 40%;
        /* position: static; */
        margin: 0 auto;
    }
    .home-arrow-container {
        position: relative;
        top: 65%;
        text-align: center;
        width: 20%;
        margin: 0 auto;
    }
    .home-arrow-container a {
        font-size: 2rem;
        color: #fff;
    }
} 





/* About me */
/* Mobile */
#aboutme {
    background-color: rgb(0, 0, 0);
    /* height: 100%; */
    margin: 0;
    text-align: center;
    padding: 40px 0 40px 0;
}
#aboutme h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    /* background-color: rgb(117, 91, 56); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
}
#aboutme figure {
    /* background-color: rgb(0, 0, 0); */
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
#aboutme img {
    width: 100%;
    max-width: 220px;
    border: #fff 3px solid;
}

#aboutme .text-container {
    background-color: rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: justify;
}
#aboutme .text-container p {
    color: rgb(255, 255, 255);
}
#aboutme .links {
    background-color: #000000;
}
#aboutme .links a {
    background-color: #000000;
    padding: 9px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 1%;
    border: 1px solid rgb(255, 255, 255);
    transition: .5s;
    text-decoration: none;
}
#aboutme .links a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}


/* ABOUT ME TABLETS */
@media screen and (min-width: 750px){
    #aboutme img {
        width: 100%;
        max-width: 220px;
        border: #fff 3px solid;
    }
}
/* About ME MEDIUM */
@media screen and (min-width: 1000px){
    #aboutme {
        width: 80%;
        margin-left: 20%;
        padding-bottom: 100px;
    }
    #aboutme img {
        width: 100%;
        max-width: 220px;
        border: #fff 3px solid;
    }
    #aboutme .text-container {
        width: 60%;
    }
}

/* SERVICES SECTION */
/* MOBILE */

#services {
    background-color: #ffffff;
    margin: 0px;
    /* height: 100%; */
    padding-top: 40px;
    text-align: center;
}
#services h1 {
    color: #000000;
    padding-top: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 80px;
    /* background-color: #00252E; */
}
.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}
.service-box {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #000000;
}

.service-box i{
    color: #8F6721;
    font-size: 3.4rem;
    margin-bottom: 15px;
}

/*Second section of the service section*/
#services .question-container {
    background-color: #00252E;
    background-image: url(../images/ocean.jpg);
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 50px;
}
.question-container .question {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 400;
}
.question-container .link-box {
    background-color: #2e515a00;
    width: 100%;
    padding: 15px;
    margin-bottom: 35px;
}
.question-container .link-box a {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 2px solid white;
    transition: .5s;
}
.question-container .link-box a:hover {
    background-color: rgb(0, 0, 0);
}


/* SERVICES TABLETS */

@media screen and (min-width: 750px){
    #services {
        height: 100vh;
    }
    #services h1 {
        padding-top: 40px;
        margin-bottom: 0px;
        height: 20%;
        background-color: rgba(0, 255, 255, 0);
    }
    .services-container {
        background-color: #35728000;
        padding-top: 3%;
        height: 40%;
        align-content: center;
        overflow: inherit;
    }
    .service-box {
        background-color: rgba(0, 0, 0, 0);
        width:20%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #services .question-container {
        background-color: #00252E;
        height: 40%;
        
    }
}

/* SERVICES MEDIUM */

@media screen and (min-width: 1000px){
    #services {
        margin-left: 20%;
        width: 80%;
        height: 100vh;
    }
}



/* PORTFOLIO SECTION */
#portfolio {
    padding: 80px 0 80px 0;
    text-align: center;
    background-color: #000000;
}
#portfolio h1 {
    color: #fff;
    margin-bottom: 60px;
    font-size: 2.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 40px;
    width: 95%;
    margin: 0 auto 40px auto;
}
.project-box {
    width: 350px;
    background-color: #000000;
    border-bottom: 1px solid #212121; 
    border-radius: 10px;
    padding-bottom: 10px;
}
.project-image {
    width: 100%;
    margin-bottom: 20px;
}
.project-title {
    color: #ffffff;
    margin-bottom: 20px;
}
.project-link {
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    border: 1px solid white;
    padding: 1%;
    border-radius: 10px;
}
.project-link:hover {
    background-color: #e1e1e1;
    border: 1px solid black;
    color: #000000;
}

@media screen and (min-width: 750px) {
    .project-box {
        width: 40%;
    }
}
@media screen and (min-width: 1000px){
    #portfolio {
        margin-left: 20%;
        width: 80%;
        text-align: center;
    }
    .project-box {
        width: 350px;
    }
}

/* CONTACT SECTION */
#contact {
    background-color: #ffffff;
    padding-top: 40px;
    text-align: center;
    height: 100vh;
}
#contact h1 {
    font-size: 2.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}
#contact form {
    background-color: #ffffff;
    width: 70%;
    padding: 20px;
    text-align: left;
    margin: 0 auto 90px auto;
}
form label {
    display: block;
    color: #000000;
    margin-bottom: 10px;
    background-color: #ffffff;
}
form input, form textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    background-color: #000000;
    font-size: .9em;
    color: white;
}
form button {
    display: block;
    margin: 0 auto;
    width: 30%;
    margin-top: 25px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    color: #fff;
}
form button:hover {
    box-shadow: 1px 1px white;
    background-color: #00252E;
    font-weight: bold;
}
.contact-icons {
    background-color: #000000;
    border-top: 1px solid gray;
    padding-top: 20px;
}
.contact-icons i {
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    margin: 0 10px;
}
.contact-icons a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
}
.contact-icons a:hover {
    color: gray;
}

@media screen and (min-width: 1000px){
    #contact {
        margin-left: 20%;
        width: 80%;
        text-align: center;
        height: 100vh;
    }
    #contact h1 {
        margin-bottom: 60px;
    }
    #contact form {
        width: 50%;
        margin: 0 auto;
    }
    .contact-icons {
        display: none;
    }
}