$main-color: rgb(0, 0, 0);
@keyframes bounceIn {
    0% { 
    transform: scale(0.9);
    }
    25% {
        transform: scale(1);
    }
    50% {   
    transform: scale(1.1);
    }
    75% {
    transform: scale(1);  
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes borderColor {
    0% {
        border: 2px solid white;
    }
    50% {
        border: 2px solid #17a4bd;
    }
    100% {
        border: 2px solid white;
    }
}

*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
}

// HEADER SECTION MOBILE
header {
    height: 100%;
    text-align: center;
    background: {
        color: black;
        image: url(../images/bigdaddyd.jpg);
        repeat: no-repeat;
        position: center;
        size: cover;
        attachment: fixed;
    }
    /*HIDING NAVS FOR TABLET AND LARGE*/
    #nav{
        display: none;
    }

    /* HOME SECTION CONTENT */
    #header-info-container {
        .name-box {
            text-align: center;
            color: #ffffff;
            position: absolute;
            top: 15%;
            width: 100%;
            .myName{
                font-size: 250%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 300;
            }
            .proffession {
                font-size: 1.2em;
                font-weight: 400;
                color: #ffffff;
            }
        }
        #home-button-container {
            position: absolute;
            bottom:  13%;
            width: 100%;
            a {
                display: block;
                margin: 0 auto;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 10px 10px;
                border: 2px solid white;
                border-radius: 5px;
                color: #fff;
                transition: .5s;
                width: 200px;
                text-decoration: none;
                animation-name: borderColor;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            a:hover {
                background-color: rgb(0, 0, 0);
            }
        }
        .home-arrow-container {
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 100%;
            a {
                font-size: 2rem;
                color: #fff;
            }
            a:hover {
                font-size: 2.2rem;
                color: #000000;
            }
        }
    }
}


/* HOME SECTION TABLETS */
@media screen and (min-width: 750px){
    header {
        #nav {
            display: block;
            width: 100%;
            background-color: #13131300;
            padding: 15px 0;
            ul {
                padding-left: 0px;
                background-color: #83622a00;
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content:space-evenly;
                li {
                    list-style-type: none;
                    a {
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                        font-size: 18px;
                        transition: 0.1s;
                    }
                    a:hover {
                        border-bottom: 2px dotted white;
                    }
                }
            }
        }
    }
}


/* HOME SECTION MEDIUM */
@media screen and (min-width: 1000px){
    header {
        height: 100vh;
        text-align: center;
    }
}



/* About me */
/* Mobile */

#about-me-section {
    background-color: rgb(243, 234, 234);
    /* height: 100%; */
    margin: 0;
    text-align: center;
    padding: 40px 0 0 0;
    position: relative;
    #moon {
        position: absolute; 
        right: 5%; 
        top: 50px; 
        font-size: 1.8rem;
        display: block;
        color: #131313;
        transition: 0.3s;
        animation-name: bounceIn;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    #sun {
        position: absolute; 
        right: 5%; 
        top: 50px; 
        font-size: 1.8rem; 
        display: none;
        color: rgb(197 197 197);
        animation-name: bounceIn;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    h1 {
        color: rgb(0, 0, 0);
        margin-bottom: 60px;
        /* background-color: rgb(117, 91, 56); */
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.2rem;
    }
    .image-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        figure {
            width: 80%;
            margin: 0 0 40px 0;
            img {
                width: 100%;
                max-width: 240px;
                border: #ffffff 3px solid;
                box-shadow: 2px 2px 5px black;
            }
        }
        .text-container {
            width: 80%;
            p {
                color: rgb(0, 0, 0);
                margin-bottom: 25px;
                font-size: 16px;
                display: block;
            }
            .social-container {
                display: none;
                background-color: #00252e00;
                margin-bottom: 25px;
                padding: 0;
                h2 {
                    margin: 0 0 20px 0;
                    font-size: 27px;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                }
                #github{
                    color: #131313;
                    font-size: 2.5em;
                    margin-right: 20px;
                }
                #linkedin{
                    color: #131313;
                    background-color: #00000000;
                    font-size: 2.5em;
                    margin-left: 20px;
                }
            }
            .arrows-box {
                background-color: #2e5a6300;
                i {
                    margin: 0 10px;
                    font-size: 20px;
                }
                i:hover {
                    color: #17a4bd;
                }
            }
            .links {
                display: flex;
                justify-content: space-evenly;
                width: 90%;
                margin: 40px auto 0 auto;
                a {
                    background-color: #131313;
                    padding: 9px;
                    color: rgb(255, 255, 255);
                    border-radius: 15px;
                    border: 1px solid rgb(255, 255, 255);
                    transition: .5s;
                    text-decoration: none;
                    animation-name: borderColor;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
                a:hover {
                    background-color: #00252E;
                }
            }
        }
    }
}
/* ABOUT ME TABLETS */
@media screen and (min-width: 850px){
    #about-me-section {
        padding: 40px 0 0 0;
        .image-text-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            margin: 0 auto;
            figure {
                margin: 0;
                width: 40%;
                img {
                    width: 100%;
                    max-width: 260px;
                    border: #ffffff 3px solid;
                }
            }
            .text-container {
                width: 50%;
                margin: 0;
            }
        }
    }
}
/* About ME MEDIUM */
@media screen and (min-width: 1000px){
    #about-me-section {
        width: 100%;
        padding: 50px 0 20px 0;
        .image-text-container {
            figure {
                width: 40%;
                margin: 0;
            }
            .text-container {
                width: 50%;
                margin: 0;
            }
        }
        .links {
            width: 40%;
        }
    }
}
/* TOOLS SECTION */
/* MOBILE */

#tools-section {
    background-color: rgb(243, 234, 234);
    margin: 0px;
    /* height: 100%; */
    padding-top: 50px;
    text-align: center;
    h1 {
        color: #000000;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.2rem;
        margin-bottom: 80px;
        /* background-color: #00252E; */
    }
    .services-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        .service-box {
            width: 30%;
            margin-bottom: 30px;
            color: #000000;
            i {
                color: #886937;
                font-size: 3.4rem;
                margin-bottom: 15px;
            }
        }
    }
    .question-container {
        background-color: #00252E;
        background-image: url(../images/ocean.jpg);
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 250px;
        padding-top: 50px;
        .question {
            color: #ffffff;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-bottom: 30px;
            font-size: 1.8rem;
            font-weight: 400;
        }
        .link-box {
            padding: 15px;
            a {
                background-color: rgba(0, 0, 0, 0.5);
                padding: 10px;
                margin-bottom: 25px;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-size: 1.1rem;
                border: 2px solid white;
                transition: .5s;
                animation: borderColor;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
            a:hover {
                background-color: rgb(0, 0, 0);
            }
        }
    }
}


/* TOOLS SECTION TABLETS */
@media screen and (min-width: 750px){
    #tools-section {
        height: 100vh;
        h1 {
            padding-top: 40px;
            margin-bottom: 0px;
            height: 20%;
        }
        .services-container {
            padding-top: 3%;
            height: 40%;
            align-content: center;
            .service-box {
                background-color: rgba(0, 0, 0, 0);
                width:20%;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
        .question-container {
            background-color: #00252E;
            height: 40%;
            
        }
    }
}
/* TOOLS SECTION MEDIUM */
@media screen and (min-width: 1000px){
    #tools-section {
        height: 100vh;
        padding-top: 30px;
    }
}


/* PORTFOLIO SECTION */
#portfolio-section {
    padding: 80px 0 40px 0;
    text-align: center;
    background-color: rgb(243, 234, 234);
    h1 {
        color: #000000;
        margin-bottom: 60px;
        font-size: 2.3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .projects-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 40px;
        width: 95%;
        margin: 0 auto 40px auto;
        .project-box {
            width: 350px;
            background-color: rgb(243, 234, 234);
            border-radius: 15px;
            padding-bottom: 10px;
            box-shadow: 3px 3px 5px #929191; 
            .project-image {
                width: 100%;
                margin-bottom: 20px;
                border-radius: 15px 15px 0 0;
            }
            .project-title {
                color: #000000;
                margin-bottom: 20px;
            }
            .project-link {
                text-decoration: none;
                color: #ffffff;
                background-color: #131313;
                border: 1px solid white;
                padding: 1%;
                border-radius: 10px;
            }
            .project-link:hover {
                background-color: #ffffff;
                border: 1px solid black;
                color: #000000;
            }
        }
    }
}
// PORTFOLIO SECTION TABLETS
@media screen and (min-width: 750px) {
    .project-box {
        width: 40%;
    }
}
// PORTFOLIO SECTION LAPTOP
@media screen and (min-width: 1000px){
    #portfolio-section {
        text-align: center;
    }
    .project-box {
        width: 350px;
    }
}



/* CONTACT SECTION */
#contact-section {
    background-color: rgb(243, 234, 234);
    padding: 0 0 60px 0;
    text-align: center;
    h1 {
        font-size: 2.3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        margin-bottom: 40px;
    }
    form {
        background-color: #131313;
        width: 70%;
        min-width: 340px;
        max-width: 450px;
        padding: 20px;
        text-align: left;
        margin: 0 auto;
        border-radius: 15px;
        border: 1px solid white;
        animation: borderColor;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        label {
            display: block;
            color: #ffffff;
            margin-bottom: 10px;
        }
        input, textarea {
            display: block;
            width: 100%;
            margin-top: 5px;
            background-color: #ffffff;
            border-radius: 5px;
            font-size: .9em;
            color: rgb(0, 0, 0);
            padding: 2px 0;
        }
        button {
            display: block;
            margin: 40px auto 10px auto;
            width: 30%;
            border: 1px solid white;
            border-radius: 10px;
            padding: 5px;
            background-color:#131313;
            color: #fff;
            animation: borderColor;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transition: .5s;
        }
        button:hover {
            background-color: #00252E ;/*  #00252E */
        }
    }
}

@media screen and (min-width: 750px) {
    #contact-section {
        form {
            width: 50%;
        }
    }

}

@media screen and (min-width: 1000px){
    #contact-section {
        text-align: center;
        h1 {
            margin-bottom: 60px;
        }
        form {
            width: 40%;
            margin: 0 auto;
        }
    }
}


/* FOOTER MOBILE */

#footer {
    background-color: rgb(243, 234, 234);
    #footer-title {
        text-align: center;
        background-color: #88693700;
        font-family: 'Playfair Display', serif;
        font-size: 35px;
        margin: 0 0 10px 0;
    }
    hr {
        width: 300px;
        margin: 0 auto 20px auto;
        color:#000000;
    }
    .links-box {
        background-color: #00252e00;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 210px;
        a {
            font-size: 2.5em;
            color:#131313;
        }
    }
    
    .footer-nav {
        background-color: #422b2b00;
        padding: 10px 0 20px 0;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 200px;
        margin: 0 auto 20px auto;
        li {
            list-style-type: none;
            margin-bottom: 6px;
            a {
                text-decoration: none;
                color: #17a4bd;
                font-size: 18px;
            }
        }
    }
    #coded-by {
        text-align: center;
        font-family: cursive;
        font-weight: 300;
        color: #131313;
        font-size: 16px;
        padding: 10px 0;
    }
}