@keyframes bounceIn {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes borderColor {
  0% {
    border: 2px solid white;
  }
  50% {
    border: 2px solid #17a4bd;
  }
  100% {
    border: 2px solid white;
  }
}
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

header {
  height: 100%;
  text-align: center;
  background-color: black;
  background-image: url(../images/bigdaddyd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /*HIDING NAVS FOR TABLET AND LARGE*/
  /* HOME SECTION CONTENT */
}
header #nav {
  display: none;
}
header #header-info-container .name-box {
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 15%;
  width: 100%;
}
header #header-info-container .name-box .myName {
  font-size: 250%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}
header #header-info-container .name-box .proffession {
  font-size: 1.2em;
  font-weight: 400;
  color: #ffffff;
}
header #header-info-container #home-button-container {
  position: absolute;
  bottom: 13%;
  width: 100%;
}
header #header-info-container #home-button-container a {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  transition: 0.5s;
  width: 200px;
  text-decoration: none;
  animation-name: borderColor;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
header #header-info-container #home-button-container a:hover {
  background-color: rgb(0, 0, 0);
}
header #header-info-container .home-arrow-container {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
header #header-info-container .home-arrow-container a {
  font-size: 2rem;
  color: #fff;
}
header #header-info-container .home-arrow-container a:hover {
  font-size: 2.2rem;
  color: #000000;
}

/* HOME SECTION TABLETS */
@media screen and (min-width: 750px) {
  header #nav {
    display: block;
    width: 100%;
    background-color: rgba(19, 19, 19, 0);
    padding: 15px 0;
  }
  header #nav ul {
    padding-left: 0px;
    background-color: rgba(131, 98, 42, 0);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  header #nav ul li {
    list-style-type: none;
  }
  header #nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    transition: 0.1s;
  }
  header #nav ul li a:hover {
    border-bottom: 2px dotted white;
  }
}
/* HOME SECTION MEDIUM */
@media screen and (min-width: 1000px) {
  header {
    height: 100vh;
    text-align: center;
  }
}
/* About me */
/* Mobile */
#about-me-section {
  background-color: rgb(243, 234, 234);
  /* height: 100%; */
  margin: 0;
  text-align: center;
  padding: 40px 0 0 0;
  position: relative;
}
#about-me-section #moon {
  position: absolute;
  right: 5%;
  top: 50px;
  font-size: 1.8rem;
  display: block;
  color: #131313;
  transition: 0.3s;
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#about-me-section #sun {
  position: absolute;
  right: 5%;
  top: 50px;
  font-size: 1.8rem;
  display: none;
  color: rgb(197, 197, 197);
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#about-me-section h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 60px;
  /* background-color: rgb(117, 91, 56); */
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2rem;
}
#about-me-section .image-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
#about-me-section .image-text-container figure {
  width: 80%;
  margin: 0 0 40px 0;
}
#about-me-section .image-text-container figure img {
  width: 100%;
  max-width: 240px;
  border: #ffffff 3px solid;
  box-shadow: 2px 2px 5px black;
}
#about-me-section .image-text-container .text-container {
  width: 80%;
}
#about-me-section .image-text-container .text-container p {
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
  font-size: 16px;
}
#about-me-section .image-text-container .text-container .links {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 20px auto 0 auto;
}
#about-me-section .image-text-container .text-container .links a {
  background-color: #131313;
  padding: 9px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255);
  transition: 0.5s;
  text-decoration: none;
  animation-name: borderColor;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#about-me-section .image-text-container .text-container .links a:hover {
  background-color: #00252E;
}
#about-me-section h2 {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 60px 0 40px 0;
}
#about-me-section .links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}
#about-me-section .links #github {
  color: #131313;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3.5em;
  margin-right: 20px;
}
#about-me-section .links #linkedin {
  color: #131313;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3.5em;
  margin-left: 20px;
}

/* ABOUT ME TABLETS */
@media screen and (min-width: 850px) {
  #about-me-section {
    padding: 40px 0 0 0;
  }
  #about-me-section .image-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
  #about-me-section .image-text-container figure {
    margin: 0;
    width: 40%;
  }
  #about-me-section .image-text-container figure img {
    width: 100%;
    max-width: 260px;
    border: #ffffff 3px solid;
  }
  #about-me-section .image-text-container .text-container {
    width: 50%;
    margin: 0;
  }
}
/* About ME MEDIUM */
@media screen and (min-width: 1000px) {
  #about-me-section {
    width: 100%;
    padding: 50px 0 20px 0;
  }
  #about-me-section .image-text-container figure {
    width: 40%;
    margin: 0;
  }
  #about-me-section .image-text-container .text-container {
    width: 50%;
    margin: 0;
  }
  #about-me-section h2 {
    margin: 80px 0 30px 0;
  }
  #about-me-section .links {
    width: 40%;
  }
}
/* TOOLS SECTION */
/* MOBILE */
#tools-section {
  background-color: rgb(243, 234, 234);
  margin: 0px;
  /* height: 100%; */
  padding-top: 0px;
  text-align: center;
}
#tools-section h1 {
  color: #000000;
  padding-top: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2rem;
  margin-bottom: 80px;
  /* background-color: #00252E; */
}
#tools-section .services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#tools-section .services-container .service-box {
  width: 30%;
  margin-bottom: 30px;
  color: #000000;
}
#tools-section .services-container .service-box i {
  color: #886937;
  font-size: 3.4rem;
  margin-bottom: 15px;
}
#tools-section .question-container {
  background-color: #00252E;
  background-image: url(../images/ocean.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 250px;
  padding-top: 50px;
}
#tools-section .question-container .question {
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: 400;
}
#tools-section .question-container .link-box {
  padding: 15px;
}
#tools-section .question-container .link-box a {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-bottom: 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem;
  border: 2px solid white;
  transition: 0.5s;
  animation: borderColor;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#tools-section .question-container .link-box a:hover {
  background-color: rgb(0, 0, 0);
}

/* TOOLS SECTION TABLETS */
@media screen and (min-width: 750px) {
  #tools-section {
    height: 100vh;
  }
  #tools-section h1 {
    padding-top: 40px;
    margin-bottom: 0px;
    height: 20%;
  }
  #tools-section .services-container {
    padding-top: 3%;
    height: 40%;
    align-content: center;
  }
  #tools-section .services-container .service-box {
    background-color: rgba(0, 0, 0, 0);
    width: 20%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  #tools-section .question-container {
    background-color: #00252E;
    height: 40%;
  }
}
/* TOOLS SECTION MEDIUM */
@media screen and (min-width: 1000px) {
  #tools-section {
    height: 100vh;
  }
  #tools-section h1 {
    padding-top: 30px;
  }
}
/* PORTFOLIO SECTION */
#portfolio-section {
  padding: 80px 0 40px 0;
  text-align: center;
  background-color: rgb(243, 234, 234);
}
#portfolio-section h1 {
  color: #000000;
  margin-bottom: 60px;
  font-size: 2.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#portfolio-section .projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 40px;
  width: 95%;
  margin: 0 auto 40px auto;
}
#portfolio-section .projects-container .project-box {
  width: 350px;
  background-color: rgb(243, 234, 234);
  border-radius: 15px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 5px #929191;
}
#portfolio-section .projects-container .project-box .project-image {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px 15px 0 0;
}
#portfolio-section .projects-container .project-box .project-title {
  color: #000000;
  margin-bottom: 20px;
}
#portfolio-section .projects-container .project-box .project-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #131313;
  border: 1px solid white;
  padding: 1%;
  border-radius: 10px;
}
#portfolio-section .projects-container .project-box .project-link:hover {
  background-color: #ffffff;
  border: 1px solid black;
  color: #000000;
}

@media screen and (min-width: 750px) {
  .project-box {
    width: 40%;
  }
}
@media screen and (min-width: 1000px) {
  #portfolio-section {
    text-align: center;
  }
  .project-box {
    width: 350px;
  }
}
/* CONTACT SECTION */
#contact-section {
  background-color: rgb(243, 234, 234);
  padding: 0 0 60px 0;
  text-align: center;
}
#contact-section h1 {
  font-size: 2.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
}
#contact-section form {
  background-color: #131313;
  width: 70%;
  min-width: 340px;
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid white;
  animation: borderColor;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#contact-section form label {
  display: block;
  color: #ffffff;
  margin-bottom: 10px;
}
#contact-section form input, #contact-section form textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 0.9em;
  color: rgb(0, 0, 0);
  padding: 2px 0;
}
#contact-section form button {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: 25px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  color: #fff;
}
#contact-section form button:hover {
  box-shadow: 1px 1px white;
  background-color: #00252E;
  font-weight: bold;
}

@media screen and (min-width: 750px) {
  #contact-section form {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  #contact-section {
    text-align: center;
  }
  #contact-section h1 {
    margin-bottom: 60px;
  }
  #contact-section form {
    width: 40%;
    margin: 0 auto;
  }
}
/* FOOTER MOBILE */
#footer {
  background-color: rgb(243, 234, 234);
}
#footer #footer-title {
  text-align: center;
  background-color: rgba(136, 105, 55, 0);
  font-family: "Playfair Display", serif;
  font-size: 35px;
  margin: 0 0 10px 0;
}
#footer hr {
  width: 300px;
  margin: 0 auto 20px auto;
  color: #000000;
}
#footer .links-box {
  background-color: rgba(0, 37, 46, 0);
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 210px;
}
#footer .links-box a {
  font-size: 2.5em;
  color: #131313;
}
#footer .footer-nav {
  background-color: rgba(66, 43, 43, 0);
  padding: 10px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 200px;
  margin: 0 auto 20px auto;
}
#footer .footer-nav li {
  list-style-type: none;
  margin-bottom: 6px;
}
#footer .footer-nav li a {
  text-decoration: none;
  color: #17a4bd;
  font-size: 18px;
}
#footer #coded-by {
  text-align: center;
  font-family: cursive;
  font-weight: 300;
  color: #131313;
  font-size: 16px;
  padding: 10px 0;
}

/*# sourceMappingURL=style.css.map */
