* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

header {
  height: 100%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  background-image: url(../images/bigdaddyd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /*HIDING NAVS FOR TABLET AND LARGE*/
  /* HOME SECTION CONTENT */
}
header #mobile-nav {
  z-index: 2;
  position: fixed;
  right: 0;
  width: 100%;
}
header #mobile-nav #hamburger {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
header #mobile-nav #hamburger:hover {
  background-color: #00262D;
}
header #mobile-nav #collapsibleNavbar {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
header #mobile-nav #collapsibleNavbar ul {
  background-color: #000000;
  margin-bottom: 30px;
}
header #mobile-nav #collapsibleNavbar ul .nav-item {
  padding: 2%;
}
header #mobile-nav #collapsibleNavbar ul .nav-item .nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
header #mobile-nav #collapsibleNavbar ul .nav-item .nav-link:hover {
  color: gray;
  font-size: 1.5rem;
}
header #mobile-nav #collapsibleNavbar .nav-arrow-container i {
  color: #fff;
  font-size: 2.5em;
}
header #mobile-nav #collapsibleNavbar .nav-arrow-container i:hover {
  color: gray;
}
header #tabletnav {
  display: none;
}
header #verticalnav {
  display: none;
}
header #name-container {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 15%;
  width: 100%;
}
header #name-container .myName {
  font-size: 250%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}
header #name-container .proffession {
  font-size: 1.1em;
}
header #home-button-container {
  position: absolute;
  bottom: 13%;
  width: 100%;
}
header #home-button-container button {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  transition: 0.5s;
}
header #home-button-container button:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
header .home-arrow-container {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
header .home-arrow-container a {
  font-size: 2rem;
  color: #fff;
}
header .home-arrow-container a:hover {
  font-size: 2.2rem;
  color: black;
}

/* HOME SECTION TABLETS */
@media screen and (min-width: 750px) {
  #mobile-nav {
    display: none;
  }
  #tabletnav {
    display: block;
    /* background-image: url(/images/bigdaddyd.jpg); */
    background-color: #000000;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid gray;
  }
  #tabletnav ul {
    /* background-color: blueviolet; */
    padding-left: 0px;
    padding-top: 20px;
  }
  #tabletnav ul li {
    /* background-color: antiquewhite; */
    list-style-type: none;
    display: inline-block;
    width: 12%;
  }
  #tabletnav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1rem;
  }
  #tabletnav ul li a:hover {
    color: gray;
  }
}
/* HOME SECTION MEDIUM */
@media screen and (min-width: 1000px) {
  header {
    background-image: none;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    margin-right: 0px;
    text-align: center;
  }
  header #mobile-nav {
    display: none;
  }
  header #tabletnav {
    display: none;
  }
  header #verticalnav {
    display: inline-block;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin-right: 0px;
    border-right: 1px solid rgb(255, 255, 255);
    padding-top: 10px;
  }
  header #verticalnav #avatar-container {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    width: 95%;
    margin-bottom: 40px;
  }
  header #verticalnav #avatar-container img {
    width: 100%;
    border: 2px solid white;
    max-width: 240px;
  }
  header #verticalnav ul {
    /* background-color: aquamarine; */
    padding-left: 0px;
    margin-bottom: 40px;
  }
  header #verticalnav ul li {
    background-color: #000000;
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
  }
  header #verticalnav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1rem;
  }
  header #verticalnav ul li a:hover {
    color: gray;
  }
  header #verticalnav .icons-container {
    background-color: #000000;
  }
}

/*# sourceMappingURL=style.css.map */
